@model List<GestionSemillero1.Models.investigadores>
@{
    ViewBag.Title = "Gestionar Reuniones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">🎉 @TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">❌ @TempData["Error"]</div>
}

<form action="@Url.Action("AsignarReunion", "Lider")" method="POST" id="formReunion">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="dashboard-card">
                <h5>1. Fecha:</h5>
                <input type="date" name="fecha_reunion" id="fecha_reunion" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dashboard-card">
                <h5>2. Lugar / Enlace:</h5>
                <input type="text" name="lugar_reunion" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dashboard-card">
                <h5>3. Hora Inicio:</h5>
                <input type="time" name="hora_reunion" id="hora_reunion" class="form-control" required />
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="dashboard-card">
                <h5 class="4. Hora Finalización:">6. Hora de finalización:</h5>
                <input type="time" name="hora_fin_reunion" class="form-control" required />
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="dashboard-card">
                <h5>5. Participantes:</h5>
                <div style="max-height: 200px; overflow-y: auto;">
                    @foreach (var inv in Model)
                    {
                        <div class="checkbox-item">
                            <input type="checkbox" name="investigadoresSeleccionados" value="@inv.ID_investigador">
                            <label>@inv.nombre_investigador @inv.apellido_investigador</label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dashboard-card">
                <h5>5. Asunto:</h5>
                <textarea name="descripcion_reunion" class="form-control" rows="5" required></textarea>
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex align-items-end">
            <button type="submit" class="btn btn-success w-100">Registrar Reunión</button>
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputFecha = document.getElementById("fecha_reunion");
        const hoy = new Date().toISOString().split('T')[0];
        inputFecha.setAttribute("min", hoy);
    });
</script>